/* 重置标签的默认样式以及消除标签在不同浏览器的差异 -- CSSReset ; 设置部分标签默认值 */
body{margin:0;background-color:#fcf6ea;}
/* <canvas>画布模块 */
div .m-canvas{position:absolute;left:50%;-ms-transform:translateX(-50%);/* IE9兼容 */transform:translateX(-50%);margin-top:10px;}

